body {
    font: 12px sans-serif;
    color: black;
    background: rgb(240, 240, 240);
}
.link {
    fill: none;
    stroke: rgb(100, 100, 100);
    stroke-width: 2px;
    transition: all .2s ease !important;
    pointer-events: none;
}
.knot {
    fill: none;
    stroke: rgb(100, 100, 200);
    stroke-width: 2px;
    transition: all .2s ease !important;
}
.border {
    fill: none;
    shape-rendering: crispEdges;
    stroke: #aaa;
}
.node {
    stroke-width: 2px;
    cursor: pointer;
    transition: all .2s ease !important;
}
.circle {
    transition: all .2s ease !important;
}
.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}